Source: python3-edupals-base
Section: python
Priority: optional
Maintainer: Raul Rodrigo Segura <raurodse@gmail.com>
Build-Depends: debhelper (>=9), python3, dh-python, python3-minimal, python3-setuptools
Standards-Version: 3.9.7
Homepage: https://github.com/edupals/python-edupals-base

Package: python3-edupals-base
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: structure package to edupals python libraries
 This package install init files for python 2 edupals libraries
